---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">About Me</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				My name is <strong>Uthman Shamim</strong>. I am a student and a <mark
					>Quran reciter.</mark
				> I am currently memorizing the Quran and learning it's meaning from Usstad
				Zakaria Mahmud <i>(Rahimahullah)</i>.
			</p>
			<p>
				I am also learning Arabic, improving my English, and self-studying the
				books of <strong>Madani Nisab</strong>. I am very interested in gaining <strong
					>Islamic</strong
				>, Scientific and Historical knowledge, as well as other fields of
				learning. I want to become a knowledgeable <mark>Scholar </mark>in
				future. A Scholar like Sheikh Imran Nazar Hossein, Ustad Noman Ali khan
				and Shikh Abdul Majid. And wanna be a reciter like <mark
					>Ustad Zakaria Mahmud,</mark
				>
				<a
					href="https://www.google.com/search?q=Umair+shamim&sca_esv=3a2a6e3c008af294&biw=1245&bih=626&sxsrf=ANbL-n65iI326PV1Xt2BThOoi16ytC3NHg%3A1775380409025&ei=uSfSae6fAZmK4-EPs-uF-QU&ved=0ahUKEwiu4Pu0r9aTAxUZxTgGHbN1IV8Q4dUDCBE&uact=5&oq=Umair+shamim&gs_lp=Egxnd3Mtd2l6LXNlcnAiDFVtYWlyIHNoYW1pbTIKECMYgAQYJxiKBTIEECMYJzIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTIFEAAYgAQyChAAGIAEGEMYigUyBRAAGIAEMgUQABiABEjrFlCIAlj0DXABeAGQAQCYAdMBoAH2AqoBBTAuMS4xuAEDyAEA-AEBmAIDoAKcA8ICBxAjGLADGCfCAgoQABiwAxjWBBhHwgINEAAYgAQYsAMYQxiKBcICBxAjGLACGCfCAgcQABiABBgNmAMAiAYBkAYKkgcFMS4xLjGgB_ISsgcFMC4xLjG4B44DwgcFMi0xLjLIBx6ACAA&sclient=gws-wiz-serp"
					>Shikh Umair Shamim,</a
				> <a href="https://www.instagram.com/yasser.aldosari8"
					>Shikh Yaseer Al Dosari</a
				> and <a
					href="https://www.google.com/search?q=sheikh+Muhammad+al+luhaidan&sca_esv=3a2a6e3c008af294&udm=2&biw=1245&bih=626&sxsrf=ANbL-n5f2BT6KEQ87KBEnLK5OKs5EkdY2A%3A1775380810879&ei=SinSafmsNcuE4-EP88G6oAQ&ved=0ahUKEwj5-cr0sNaTAxVLwjgGHfOgDkQQ4dUDCBI&uact=5&oq=sheikh+Muhammad+al+luhaidan&gs_lp=Egtnd3Mtd2l6LWltZyIbc2hlaWtoIE11aGFtbWFkIGFsIGx1aGFpZGFuMgUQABiABDIGEAAYBxgeMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgARIqoAEUPTBA1jC-QNwBHgAkAEAmAGfAaABxw-qAQQwLjE0uAEDyAEA-AEBmAIRoALoEMICBBAAGB7CAgYQABgIGB7CAggQABgIGAoYHsICCBAAGAcYChgewgIKEAAYBxgIGAoYHsICCBAAGAcYCBgemAMAiAYBkgcENC4xM6AHuGiyBwQwLjEzuAevEMIHBjMtMTMuNMgH-QGACAA&sclient=gws-wiz-img"
					>Sheikh Muhammad Al-Luhaidan</a
				>
				<i>(Rahimahullah)</i>.
			</p>
			<p>
				My hobbies include reading and writing. I like to spend my time in
				reading, writing, <strong>Memorizing the Quran</strong>, and learning
				new things. I believe in hard work, patience, and sincerity.
			</p>
			<p>
				I am also interested in programming and technology. I have some
				experience in web development and I am learning new programming
				languages and frameworks too. I wanna use technology to benefit others
				and to spread knowledge.

				<p>
					And at the end my goal is to <mark>Serve Islam</mark> and the world, and
					to become a better Muslim by improving my knowledge day by day.
				</p>
			</p>
		</div>
	</section>
</BaseLayout>
